.clickable:hover {
  cursor: pointer;
}

.sent, .received {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  width: auto;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.sent {
  background-color: darkblue;
  color: white;
}

.received {
  background-color: lightgray;
}

#message-area {
  height: 100vh;
}

#message-list {
  height: 75%;
  overflow-y: auto;
}